/* variables */

$clr-primary-red: #FF7A7A;
$clr-primary-green: #38CB8B;


$clr-accent-blue: #5F54A4;

$clr-neutral-dark-blue: #3D3B48;
$clr-neutral-grayish-blue: #B8B5D3;
$clr-white: #fff;

$fs: 1rem;

$ff-poppins: 'Poppins', sans-serif;

$font-weigths: (
    "regular": 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700
);