@import 'config';
@import 'variables';
@import 'functions';


body {
    line-height: 1.5;
    height: 100vh;
    font-family: $ff-poppins;
    font-size: $fs;
    background: url(../images/bg-intro-mobile.png), $clr-primary-red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
        'content'
        'form';
    flex-direction: column;
    gap: 2rem;
    padding: 1.2rem;
    overflow-x: hidden;


    &__information{
        grid-area: content;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;

        .information-title{
            font-weight: weight(bold);
            font-size: 1.8rem;
        }

        .information-paragraph{
            font-size: $fs;
            font-weight: weight(regular);
        }

        .information-title,
        .information-paragraph{
            text-align: center;
            color: $clr-white;
        }
    }

    .sign-up{
        position: relative;
        min-width: 100%;
        grid-area: form;
        display: flex;
        flex-direction: column;
        z-index: 0;

        .button-cta{
            position: relative;
            text-align: center;
            color: $clr-white;
            background-color: $clr-accent-blue;
            padding: 1.2rem 2rem;
            border-radius: 10px;
            margin-bottom: 1.5rem;

            &--bold{
                font-weight: weight(bold);
            }

            &::after{
                content: '';
                position: absolute;
                background-color: $clr-neutral-dark-blue;
                opacity: .35;
                width: 100%;
                height: 100%;
                bottom: -7px;
                left: 0;
                border-radius: 8px;
                z-index: -1;
            }
        }

        &__form{
            display: flex;
            flex-direction: column;
            background-color: $clr-white;
            padding: 1rem;
            border-radius: 10px;
            
            .form-item{
                border: 1px solid $clr-neutral-grayish-blue;
                padding: 0.8rem 1rem;
                border-radius: 5px;
                margin: 10px 0;


                &:focus{
                    outline: 1px solid $clr-accent-blue;
                }

                &::placeholder{
                    font-weight: weight(semi-bold);
                    font-size: 1rem;
                }

                &--error{
                    background: url('../images/icon-error.svg') no-repeat;
                    background-size: 20px 20px;
                    background-position: 95% center;
                }
            }

            .button-container{
                display: flex;
                flex-direction: column;
                position: relative;
                z-index: 0;
            }

            .form-button{
                position: relative;
                background-color: $clr-primary-green;
                color: $clr-white;
                text-align: center;
                padding: 1rem;
                border-radius: 5px;
                font-weight: weight(semi-bold);
                text-transform: uppercase;
                letter-spacing: 1px;
                border: transparent;
                margin-bottom: 1rem;
                cursor: pointer;
                @include transition-ease;
                
                &:hover,
                &:active{
                    transform: scale(0.98);
                    background-color: lighten($clr-primary-green, 10%);
                }

                &::after{
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 20px;
                    background-color: darken($clr-primary-green, 10%);
                    bottom: -8px;
                    z-index: -1;
                    opacity: 0.3;
                    border-radius: 5px;
                    left: 0;
                }
            }

            .form-info{
                text-align: center;
                font-size: .75rem;
                padding-inline: 1.2rem;
                color: $clr-neutral-grayish-blue;

                & a{
                    color: $clr-primary-red;
                    font-weight: weight(bold);
                }
            }

            .span-error{
                display: none;
            }
            .error{
                display: inline-block;
                color: $clr-primary-red;
                font-size: .8rem;
                text-align: end;
                margin-bottom: 8px;
                margin-top: -8px;
            }
        }
    }

}

@include media-lg{
    body{
        background: url(../images/bg-intro-desktop.png), $clr-primary-red;
    }

    .main{
        display: grid;
        grid-template-columns: 50% 50%;
        place-items: center;
        grid-template-areas:
            '. .' 
            'content form'
            '. .';
        padding-inline: 3rem;

        &__information{
            padding-left: 6rem;
        }

        .information-title{
            font-size: 3.2rem !important;
        }

        .information-paragraph,
        .information-title{
            text-align: left;
        }
    
        .sign-up{
            padding-inline: 4rem;
            margin-top: 1px;
            gap: 1rem;

            .button-cta{
                margin-right: 2rem;
            }
    
            &__form{
                padding: 3rem;
                margin-right: 2rem;

                [type="fName"]{
                    margin-top: 0;
                }

                [type="password"]{
                    margin-bottom: 14px;
                }
            }
        }
    }

}